{% extends "user/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block html_title %}
{% trans "CHANGE PASSWORD | news_portal" %}
{% endblock html_title %}

{% block content %}
<div class="">
    <div class="row mt-4">
        <div class="col-12 col-md-4">
            <div class="shadow-sm bg-white rounded p-4">
                <h4 class="mb-4">{% trans "CHANGE PASSWORD" %}</h4>

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}

                    {% if messages %}
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <div class="text-right">
                        <button class="btn btn-outline-primary" type="submit">{% trans "SUBMIT" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
